* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

#title {
    text-align: center;
    color: rgb(241, 241, 241);
    font-size: 40px;
    letter-spacing: 1px;
    padding-top: 50px;
}

#msg1 {
    text-align: center;
    color: rgba(241, 241, 241, 0.822);
    font-size: 20px;
    letter-spacing: 1px;
    padding-top: 30px;
}

.card {
    backface-visibility: visible;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;    
    width: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 0;
    gap: 15px;
    border: solid 4px #0c0c0cec;  
    border-radius: 13px;
}

#title-label {
    padding-top: 20px;
    color: rgba(255, 255, 255, 0.842);
    letter-spacing: 1.7px;
    font-weight: 600;
}

#title-password {
    background: transparent;
    font-weight: 700;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    outline: none;
    border: solid 4px #0c0c0cec;
    border-radius: 12px; 
    text-align: center;
    height: 44px;
    width: 320px;
    font-size: 20px;
    color: rgb(230, 230, 230);
}

#pwd-box {
    padding-top: 10px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 4px #0c0c0cec;
    font-size: 20px;
    background-color: transparent;  
    border-radius: 12px;
    color: rgb(230, 230, 230);
    outline: none;
    resize: none;
    width: 400px;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 30px;
}

.buttons-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 0;
    width: 550px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    justify-content: center;
}

.button {
    background-color: transparent;
    border-radius: 10px;
    border: solid 4px #0c0c0cec;
    outline: none;
    font-size: 21px;
    width: 250px;
    height: 55px;
    color: rgb(230, 230, 230);
}

.button:hover {
    border: solid 5px #0c0c0cec;
}