<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/add-pwd.css"> 
    <title>Password Manager</title>
</head>
<body>
    <h1 id="title">Password Manager</h1>
    <h3 id="msg1">Hi there! here you can add a new password to your list :)</h3>
    <div class="card">
        <h1 id="title-label">Title</h1>
        <input type="text" id="title-password">
        <textarea id="pwd-box" spellcheck="false"></textarea>
    </div>
    <div class="buttons-container">
        <button class="button" id="cancelBtn">Cancel</button>
        <button class="button" id="cancelBtn">Confirm</button>
    </div>
    <script src="../js/add-pwd.js"></script>
</body>
</html>