<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css">
    <title>HomePage</title>
</head>
<body>
    <h1 id="title">Password Manager</h1>
    <h3 id="msg2">Cryptography products may be declared illegal, but the information will never be. -Bruce Schneier</h3>
    <div class="btn-container">
        <button id="add-pwd">Add Password</button>
    </div>
    <div class="main-box">
        <div class="box">
            <div class="small-box">
                <h1 id="title-label">Title</h1>
                <input type="text" id="title-password" placeholder="password title" maxlength="20">
                <textarea id="pwd-box" spellcheck="false" placeholder="your password here" maxlength="35"></textarea>
                <div class="buttons-container">
                    <button class="button-small-box">Remove</button>
                    <button class="button-small-box">Update</button>
                    <button class="button-small-box">Show</button>
                </div>
            </div>
            <div class="small-box">
                <h1 id="title-label">Title</h1>
                <input type="text" id="title-password" placeholder="password title" maxlength="20">
                <textarea id="pwd-box" spellcheck="false" placeholder="your password here" maxlength="35"></textarea>
                <div class="buttons-container">
                    <button class="button-small-box">Remove</button>
                    <button class="button-small-box">Update</button>
                    <button class="button-small-box">Show</button>
                </div>
            </div>
            <div class="small-box">
                <h1 id="title-label">Title</h1>
                <input type="text" id="title-password" placeholder="password title" maxlength="20">
                <textarea id="pwd-box" spellcheck="false" placeholder="your password here" maxlength="35"></textarea>
                <div class="buttons-container">
                    <button class="button-small-box">Remove</button>
                    <button class="button-small-box">Update</button>
                    <button class="button-small-box">Show</button>
                </div>
            </div>
            <div class="small-box">
                <h1 id="title-label">Title</h1>
                <input type="text" id="title-password" placeholder="password title" maxlength="20">
                <textarea id="pwd-box" spellcheck="false" placeholder="your password here" maxlength="35"></textarea>
                <div class="buttons-container">
                    <button class="button-small-box">Remove</button>
                    <button class="button-small-box">Update</button>
                    <button class="button-small-box">Show</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../js/homepage.js"></script>
</body>
</html>