<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/homepage.css">
    <title>HomePage</title>
</head>
<body>
    <h1 id="title">Password Manager</h1>
    <h3 id="msg2">Cryptography products may be declared illegal, but the information will never be. -Bruce Schneier</h3>
    <div class="btn-container">
        <button id="add-pwd">Add Password</button>
    </div>
    <div class="main-box">
    </div>
    <script src="../js/homepage.js"></script>
</body>
</html>